$primary-color:#1a73e8;
$primary-dark-color:#1967d2;
$white:#ffffff;
$text-color:#424242;

section{
    &.blue-section{
        position: sticky;
        top: 0;
        background-color: $primary-color;
        color:$white;
        padding:10px 0;


        .row{
            margin-bottom:0;
        }

        .left-profile{
            display:flex;
            align-items: center;
            justify-content: flex-start;

            .profile{
                height: 32px;
                width: 32px;
                border: 2px solid white;
                border-radius: 100%;
                overflow: hidden;
                margin-right:15px;

            }

            p{
                margin:0;

                &.name{
                    font-weight: 600;
                }
            }
        }

        .right-align{
            padding-top:10px;
        }

        .balance-title{
            margin:0;
            font-size:17px;
        }
    }

    &.contacts{
        img{
            margin: 0 auto;
            display: flex;
        }
    }

    &.options{
        .list{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-top:1px solid #e8e8e8;
            padding:25px 20px;
            font-size:14px;
            width:100%;
            color:$text-color;
            font-weight:500;
            font-family: 'Roboto', sans-serif;

            i{
                margin-right:15px;
            }

            p{
                margin:0;
                
                span{
                    display: block;
                    font-size: 13px;
                    font-weight: 400;
                    color:#737373;
                }
            }

            
        }

        &.balance-options{
            .list{
                padding: 12px 28px;

                &:last-of-type{
                    border-top:1px solid #e8e8e8;
                }

                p{
                    color: $text-color;
                    span{
                        color: $text-color;
                    }
                }
            }

        }
    }
}

.footer-image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
